saveToWebHDFS.xml
<?xml version="1.0" encoding="UTF-8"?>
<template encoding-version="1.2">
  <description>
  </description>
  <groupId>b39fed04-0161-1000-67db-c39cdbc23759</groupId>
  <name>Save To WebHDFS - 2018-02-28-1</name>
  <snippet>
    <processGroups>
      <id>d9505099-ceb4-394a-0000-000000000000</id>
      <parentGroupId>e321d564-1761-3c58-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments>
      </comments>
      <contents>
        <connections>
          <id>89324fff-a33c-3009-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>63c9121f-6f69-34d2-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Original</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>bcfc434e-3bd2-3927-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8fec0784-27ab-348b-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>2a067766-b703-3265-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>b25f8798-4bc4-339c-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>93a6da4f-e864-398b-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>8c2f23bf-6be1-37be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <source>
            <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
            <id>8d10f985-565f-34b6-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a627d35c-b8a5-322f-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>d1d9a86c-4457-3432-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Failure</selectedRelationships>
          <selectedRelationships>No Retry</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>bcfc434e-3bd2-3927-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b71c9f3d-28b8-3fd6-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1792.2666015625</x>
            <y>742.822509765625</y>
          </bends>
          <bends>
            <x>1708.25634765625</x>
            <y>703.2442016601562</y>
          </bends>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>8c2f23bf-6be1-37be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Retry</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>8c2f23bf-6be1-37be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b791e860-ea6b-3ad3-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2452.25634765625</x>
            <y>742.2442016601562</y>
          </bends>
          <bends>
            <x>2329.25634765625</x>
            <y>694.2442016601562</y>
          </bends>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>bcfc434e-3bd2-3927-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Retry</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>bcfc434e-3bd2-3927-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>d4b95730-5b7c-3bd9-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
            <id>99283f3c-2083-3c0f-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>2a067766-b703-3265-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ddefb81f-515d-3dd3-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>9d519453-8d18-3298-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <source>
            <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
            <id>77ae993f-c985-344b-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f53919d0-8897-33c1-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>bcfc434e-3bd2-3927-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Original</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>8c2f23bf-6be1-37be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>524e1bbd-3a96-31ba-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>d1d9a86c-4457-3432-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <selectedRelationships>Failure</selectedRelationships>
          <selectedRelationships>No Retry</selectedRelationships>
          <source>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>8c2f23bf-6be1-37be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5ccc9ef1-4faf-3be7-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d9505099-ceb4-394a-0000-000000000000</groupId>
            <id>d1d9a86c-4457-3432-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>
          </name>
          <source>
            <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
            <id>d9e5a134-ce46-3c32-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>b25f8798-4bc4-339c-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>321.4923528098607</x>
            <y>636.4885185778367</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Data To Save</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>9d519453-8d18-3298-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>961.2563816020283</x>
            <y>1052.244230056771</y>
          </position>
          <comments>
          </comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>oauth_token_renew_failed</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>d1d9a86c-4457-3432-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>1662.2563816020283</x>
            <y>1050.244230056771</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>failed</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>63c9121f-6f69-34d2-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>2291.2563816020283</x>
            <y>1047.244230056771</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>success</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processGroups>
          <id>cc08fef1-dc94-3ecf-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>890.4922917747044</x>
            <y>753.4885185778367</y>
          </position>
          <comments>
          </comments>
          <contents>
            <connections>
              <id>8d1894b7-9aa2-3971-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>a2c3598b-c716-334f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>97dfdb6e-56bf-3900-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>d9e5a134-ce46-3c32-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>98bba497-31b2-3639-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>fe6113f0-1c32-3daf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>b1ce8992-d582-3781-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>a2c3598b-c716-334f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>e5e91cfa-e90a-3043-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d8e5e9ce-0f80-3669-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2437.2393798828125</x>
                <y>499.05364990234375</y>
              </bends>
              <bends>
                <x>2437.2393798828125</x>
                <y>439.36566162109375</y>
              </bends>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>Retry</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>de18f7fe-8936-3e6d-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>77ae993f-c985-344b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>Failure</selectedRelationships>
              <selectedRelationships>No Retry</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e1152956-ca68-3039-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>77ae993f-c985-344b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>37253eeb-5c23-36b7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e9589c69-826f-328e-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>8d10f985-565f-34b6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>e81d9cf3-ef08-3a43-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>eb64cd6c-e42e-3c30-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>77ae993f-c985-344b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>unmatched</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>aa442c40-e181-3550-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fbbe5e21-3bc4-3904-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>99283f3c-2083-3c0f-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2cdc0f83-b6aa-38bb-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>37253eeb-5c23-36b7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>aa442c40-e181-3550-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2da4bd16-a985-38ed-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>e81d9cf3-ef08-3a43-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>fe6113f0-1c32-3daf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>5117f201-3713-3276-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>3029.2041015625</x>
                <y>647.0300903320312</y>
              </bends>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>unmatched</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>fe6113f0-1c32-3daf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>796aec26-5ec4-36d3-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>aa442c40-e181-3550-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>Response</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>7b89c31d-3847-3ab2-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>3009.307861328125</x>
                <y>499.05364990234375</y>
              </bends>
              <bends>
                <x>3016.768798828125</x>
                <y>453.0441589355469</y>
              </bends>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>not-found</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>7e271434-2144-3523-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>77ae993f-c985-344b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name>
              </name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>cc08fef1-dc94-3ecf-0000-000000000000</groupId>
                <id>a2c3598b-c716-334f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>526b857d-e910-3d61-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-distributed-cache-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <comments>
              </comments>
              <descriptors>
                <entry>
                  <key>Server Hostname</key>
                  <value>
                    <name>Server Hostname</name>
                  </value>
                </entry>
                <entry>
                  <key>Server Port</key>
                  <value>
                    <name>Server Port</name>
                  </value>
                </entry>
                <entry>
                  <key>SSL Context Service</key>
                  <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                  </value>
                </entry>
                <entry>
                  <key>Communications Timeout</key>
                  <value>
                    <name>Communications Timeout</name>
                  </value>
                </entry>
              </descriptors>
              <name>DistributedMapCacheClientService - OAuth</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>Server Hostname</key>
                  <value>localhost</value>
                </entry>
                <entry>
                  <key>Server Port</key>
                </entry>
                <entry>
                  <key>SSL Context Service</key>
                </entry>
                <entry>
                  <key>Communications Timeout</key>
                </entry>
              </properties>
              <state>ENABLED</state>
              <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
            </controllerServices>
            <inputPorts>
              <id>99283f3c-2083-3c0f-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>2597.1395085715794</x>
                <y>321.48587880732885</y>
              </position>
              <comments>
              </comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>needs authorization</name>
              <state>RUNNING</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>8d10f985-565f-34b6-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>2599.937238063767</x>
                <y>1149.8832634508835</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>authorized</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>d9e5a134-ce46-3c32-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>3176.0503972434544</x>
                <y>516.7531670153367</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>failed</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>77ae993f-c985-344b-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1394.0019021535672</x>
                <y>644.5429845157107</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>token_renew_failed</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>a2c3598b-c716-334f-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1949.8462426476717</x>
                <y>267.762692369755</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>
                      <name>Cache Entry Identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                      <name>Distributed Cache Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Cache update strategy</key>
                    <value>
                      <name>Cache update strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Max cache entry size</key>
                    <value>
                      <name>Max cache entry size</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>access_token</value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>526b857d-e910-3d61-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Cache update strategy</key>
                    <value>replace</value>
                  </entry>
                  <entry>
                    <key>Max cache entry size</key>
                    <value>1 MB</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutDistributedMapCache</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
            </processors>
            <processors>
              <id>aa442c40-e181-3550-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1960.677472438767</x>
                <y>698.5404594958054</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>
                      <name>Path Not Found Behavior</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>
                      <name>Null Value Representation</name>
                    </value>
                  </entry>
                  <entry>
                    <key>access_token</key>
                    <value>
                      <name>access_token</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-content</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>ignore</value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>empty string</value>
                  </entry>
                  <entry>
                    <key>access_token</key>
                    <value>access_token</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>EvaluateJsonPath</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
            </processors>
            <processors>
              <id>e5e91cfa-e90a-3043-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1949.8451098813753</x>
                <y>48.9066195946981</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>
                      <name>character-set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>mime.type</key>
                    <value>
                      <name>mime.type</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>grant_type=${oauth.grant.type:urlEncode()}&amp;resource=${oauth.resource:urlEncode()}&amp;client_id=${oauth.client.id:urlEncode()}&amp;client_secret=${oauth.client.secret:urlEncode()}</value>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>mime.type</key>
                    <value> application/x-www-form-urlencoded</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>3300 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateFlowFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
            <processors>
              <id>e81d9cf3-ef08-3a43-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>2544.2385213011576</x>
                <y>920.5998625882991</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Authorization</key>
                    <value>
                      <name>Authorization</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>Authorization</key>
                    <value>Bearer ${access_token}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>UpdateAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>fe6113f0-1c32-3daf-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>2544.2388685479336</x>
                <y>691.7960008955652</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>access_token</key>
                    <value>
                      <name>access_token</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to 'match' if all match</value>
                  </entry>
                  <entry>
                    <key>access_token</key>
                    <value>${access_token:notNull()}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>RouteOnAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
            </processors>
            <processors>
              <id>0f8d9bf9-5ebe-331e-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1955.459454860642</x>
                <y>477.0015190661179</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>HTTP Method</key>
                    <value>
                      <name>HTTP Method</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Remote URL</key>
                    <value>
                      <name>Remote URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>
                      <name>Connection Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Read Timeout</key>
                    <value>
                      <name>Read Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Date Header</key>
                    <value>
                      <name>Include Date Header</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>
                      <name>Follow Redirects</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Send</key>
                    <value>
                      <name>Attributes to Send</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Basic Authentication Username</key>
                    <value>
                      <name>Basic Authentication Username</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Basic Authentication Password</key>
                    <value>
                      <name>Basic Authentication Password</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                    <value>
                      <name>Proxy Port</name>
                    </value>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-user</key>
                    <value>
                      <name>invokehttp-proxy-user</name>
                    </value>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-password</key>
                    <value>
                      <name>invokehttp-proxy-password</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Put Response Body In Attribute</key>
                    <value>
                      <name>Put Response Body In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>
                      <name>Max Length To Put In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Digest Authentication</key>
                    <value>
                      <name>Digest Authentication</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Always Output Response</key>
                    <value>
                      <name>Always Output Response</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Trusted Hostname</key>
                    <value>
                      <name>Trusted Hostname</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Add Response Headers to Request</key>
                    <value>
                      <name>Add Response Headers to Request</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Content-Type</key>
                    <value>
                      <name>Content-Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>send-message-body</key>
                    <value>
                      <name>send-message-body</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Use Chunked Encoding</key>
                    <value>
                      <name>Use Chunked Encoding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Penalize on "No Retry"</key>
                    <value>
                      <name>Penalize on "No Retry"</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>HTTP Method</key>
                    <value>POST</value>
                  </entry>
                  <entry>
                    <key>Remote URL</key>
                    <value>${oauth.token.url}</value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>5 secs</value>
                  </entry>
                  <entry>
                    <key>Read Timeout</key>
                    <value>15 secs</value>
                  </entry>
                  <entry>
                    <key>Include Date Header</key>
                    <value>True</value>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>True</value>
                  </entry>
                  <entry>
                    <key>Attributes to Send</key>
                  </entry>
                  <entry>
                    <key>Basic Authentication Username</key>
                  </entry>
                  <entry>
                    <key>Basic Authentication Password</key>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-user</key>
                  </entry>
                  <entry>
                    <key>invokehttp-proxy-password</key>
                  </entry>
                  <entry>
                    <key>Put Response Body In Attribute</key>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>256</value>
                  </entry>
                  <entry>
                    <key>Digest Authentication</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Always Output Response</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Trusted Hostname</key>
                  </entry>
                  <entry>
                    <key>Add Response Headers to Request</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Content-Type</key>
                    <value>${mime.type}</value>
                  </entry>
                  <entry>
                    <key>send-message-body</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Use Chunked Encoding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Penalize on "No Retry"</key>
                    <value>false</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeHTTP</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
            </processors>
            <processors>
              <id>2d4a810a-dc41-3bb6-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>2542.9952641089703</x>
                <y>480.4010461449038</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>
                      <name>Cache Entry Identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                      <name>Distributed Cache Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Put Cache Value In Attribute</key>
                    <value>
                      <name>Put Cache Value In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>
                      <name>Max Length To Put In Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>access_token</value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>526b857d-e910-3d61-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Put Cache Value In Attribute</key>
                    <value>access_token</value>
                  </entry>
                  <entry>
                    <key>Max Length To Put In Attribute</key>
                    <value>2048</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>FetchDistributedMapCache</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not-found</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
            </processors>
            <processors>
              <id>37253eeb-5c23-36b7-0000-000000000000</id>
              <parentGroupId>cc08fef1-dc94-3ecf-0000-000000000000</parentGroupId>
              <position>
                <x>1961.0379432684508</x>
                <y>949.2004387095689</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
                </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>
                      <name>Cache Entry Identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                      <name>Distributed Cache Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Cache update strategy</key>
                    <value>
                      <name>Cache update strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Max cache entry size</key>
                    <value>
                      <name>Max cache entry size</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>access_token</value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>526b857d-e910-3d61-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Cache update strategy</key>
                    <value>replace</value>
                  </entry>
                  <entry>
                    <key>Max cache entry size</key>
                    <value>1 MB</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutDistributedMapCache</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style/>
              <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
            </processors>
          </contents>
          <name>ADL OAuth</name>
          <variables>
            <entry>
              <key>oauth.client.secret</key>
              <value>replace_with_your_client_secret</value>
            </entry>
            <entry>
              <key>oauth.resource</key>
              <value>https://replace_with_your_oauth_resource</value>
            </entry>
            <entry>
              <key>oauth.grant.type</key>
              <value>client_credentials</value>
            </entry>
            <entry>
              <key>oauth.token.url</key>
              <value>https://replace_with_your_oauth_token_url</value>
            </entry>
            <entry>
              <key>oauth.client.id</key>
              <value>replace_with_your_oauth_client_id</value>
            </entry>
          </variables>
        </processGroups>
        <processors>
          <id>8c2f23bf-6be1-37be-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>1606.6940831639574</x>
            <y>766.8864296900008</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0.3.1.0.0-564</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>
            </comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Method</key>
                <value>
                  <name>HTTP Method</name>
                </value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>
                  <name>Remote URL</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>
                  <name>Read Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>
                  <name>Include Date Header</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>
                  <name>Attributes to Send</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
                <value>
                  <name>Basic Authentication Username</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
                <value>
                  <name>Basic Authentication Password</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                  <name>invokehttp-proxy-user</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                  <name>invokehttp-proxy-password</name>
                </value>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                  <name>Put Response Body In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>
                  <name>Digest Authentication</name>
                </value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>
                  <name>Always Output Response</name>
                </value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
                <value>
                  <name>Trusted Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>
                  <name>Add Response Headers to Request</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>
                  <name>send-message-body</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                  <name>Penalize on "No Retry"</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Method</key>
                <value>PUT</value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>${webhdfs.base.url}/${path}/?op=MKDIRS&amp;permission=777</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>Authorization</value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InvokeHTTP - Create Parent Directory</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>No Retry</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Original</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Response</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Retry</name>
          </relationships>
          <state>RUNNING</state>
          <style/>
          <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
          <id>bcfc434e-3bd2-3927-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>2231.739378195562</x>
            <y>763.2428211067677</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0.3.1.0.0-564</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>
            </comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Method</key>
                <value>
                  <name>HTTP Method</name>
                </value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>
                  <name>Remote URL</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>
                  <name>Read Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>
                  <name>Include Date Header</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>
                  <name>Attributes to Send</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
                <value>
                  <name>Basic Authentication Username</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
                <value>
                  <name>Basic Authentication Password</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                  <name>invokehttp-proxy-user</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                  <name>invokehttp-proxy-password</name>
                </value>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                  <name>Put Response Body In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>
                  <name>Digest Authentication</name>
                </value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>
                  <name>Always Output Response</name>
                </value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
                <value>
                  <name>Trusted Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>
                  <name>Add Response Headers to Request</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>
                  <name>send-message-body</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                  <name>Penalize on "No Retry"</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Method</key>
                <value>PUT</value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>${webhdfs.base.url}/${path}/${filename}?op=CREATE&amp;permission=775&amp;noredirect=true&amp;write=true</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>Authorization</value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>response.body</value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InvokeHTTP - Save To Data Lake</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>No Retry</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Original</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Response</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Retry</name>
          </relationships>
          <state>RUNNING</state>
          <style/>
          <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
          <id>2a067766-b703-3265-0000-000000000000</id>
          <parentGroupId>d9505099-ceb4-394a-0000-000000000000</parentGroupId>
          <position>
            <x>271.26672103033707</x>
            <y>774.822485259424</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0.3.1.0.0-564</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments>
            </comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>path</key>
                <value>
                  <name>path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${gethttp.remote.source}-${data.set}-${data.timestamp:format('YYYYMMdd-HHmmss.SSS')}.${data.format}</value>
              </entry>
              <entry>
                <key>path</key>
                <value>/${data.category}/${gethttp.remote.source}/${data.set}/${data.timestamp:format('yyyy')}/${data.timestamp:format('MM')}/${data.timestamp:format('dd')}/</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style/>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Save To WebHDFS</name>
      <variables>
        <entry>
          <key>webhdfs.base.url</key>
          <value>https://replace_with_your_webhdfs_url</value>
        </entry>
      </variables>
    </processGroups>
  </snippet>
  <timestamp>02/28/2018 14:56:46 UTC</timestamp>
</template>
